/* 
* {
  background-color: #090630;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.alphaColor{
  color: rgb(51, 224, 3);
}

.navbar {
  display: flex;
  height: 40px;
  padding: 10px 0px;
}
.navTitle {
  font-size: 30px;
  padding-top: 5px;
  padding-left: 100px;
  flex: 30%;
}
.navLinks {
  flex: 70%;
  display: flex;
  justify-content: center;
}

.navLinks ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.navLinks ul li {
  padding: 0px 20px;
}
.navLinks ul li a {
  text-decoration: none;
}
.navLinks ul li a:hover {
  color: rgb(51, 224, 3);
}
.horizonLineBox {
  padding: 0px 100px;
}
.horizon:hover {
 border : 1px solid rgb(51, 224, 3);
}
.bodySection {
  display: flex;
  height: 550px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 55%;
}
.profilePic {
  display: flex;
  justify-content: center;
  flex: 45%;
  padding-top: 50px;
}
.introBoxOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding-left: 100px;
}
.introBoxOne div {
  margin-top: 20px;
}
.profileButtons {
  display: flex;
  justify-content: flex-start;
  padding-left: 100px;
  margin-top: 40px;
}

.name {
  font-size: 30px;
}
.designation {
  font-size: 25px;
}
.introDesc {
  font-size: 20px;
}

.profileButtons button {
  height: 40px;
  width: 150px;
  border: 1px solid white;
  margin-right: 20px;
}

.profileButtons button:hover{
border: 1px solid rgb(51, 224, 3);
color:rgb(51, 224, 3);
}

.footer{
  display: flex;
  justify-content: center;
} 
*/
* {
  background-color: #090630;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.alphaColor {
  color: rgb(51, 224, 3);
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navTitle {
  font-size: 35px;
  margin: 20px 0px;
}
.navLinks {
  margin-left: -30px;
}

.navLinks ul {
  list-style: none;
  text-decoration: none;
}
.navLinks ul li {
  margin: 15px 0px;
}
.navLinks ul li a {
  text-decoration: none;
}
.navLinks ul li a:hover {
  color: rgb(51, 224, 3);
}

.horizonLineBox {
  margin: 60px 0px;
  padding: 0px 20px;
}
.horizon:hover {
  border: 1px solid rgb(51, 224, 3);
}

.bodySection {
  display: flex;
  flex-direction: column-reverse;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}
.profilePic {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.profilePic img {
  height: 300px;
  width: 300px;
}

.introBoxOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  padding: 0px 30px;
}

.introBoxOne div {
  margin-top: 20px;
}

.profileButtons {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  margin-top: 40px;
}

.name {
  font-size: 27px;
}
.designation {
  font-size: 22px;
}
.introDesc {
  font-size: 15px;
}

.profileButtons button {
  height: 40px;
  width: 150px;
  border: 1px solid white;
  margin-right: 20px;
}

.profileButtons button:hover {
  border: 1px solid rgb(51, 224, 3);
  color: rgb(51, 224, 3);
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px 30px;
  margin-top: 100px;
}
.footer div {
  display: flex;
  justify-content: center;
  padding: 7px 0px;
}

@media screen and (min-width: 1040px) {
  .navbar {
    flex-direction: row;
  }
  .navTitle {
    font-size: 30px;
    padding-top: 5px;
    padding-left: 30px;
    flex: 30%;
  }
  .navLinks {
    flex: 70%;
    display: flex;
    justify-content: center;
  }

  .navLinks ul {
    display: flex;
  }
  .navLinks ul li {
    padding: 0px 20px;
  }

  .horizonLineBox {
    margin-top: -17px;
    padding: 0px 30px;
  }

  .bodySection {
    display: flex;
    flex-direction: row;
  }
  .intro {
    flex: 55%;
  }
  .profilePic {
    flex: 45%;
  }

  .introBoxOne {
    margin-top: -50px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
